* {
  box-sizing: border-box;
}
:root {
  --blue: #0D6EFD;
  --red: #DC3545;
  --grey: #6C757D;
}
body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  padding: 0 50px;
}
